[user]
  name = Jack Huang
  email = jackhxs@gmail.com
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
[pager]
  diff = cat
[github]
  user = LanJian
[apply]
  whitespace = fix
[color]
  status = auto
  branch = auto
  diff = auto
[diff]
  external = gitdiffwrap
[alias]
  ci = commit
  up = update
  st = status
  br = branch
  co = checkout
  ch = cherry-pick
  di = diff
  lg = log -p
  gl = log --graph --decorate
  glp = log --graph --oneline --abbrev-commit --decorate
  rl = reflog
  who = shortlog -s --
  llog = log --date=local
  ol = log --oneline
  w = whatchanged
[credential]
	helper = cache --timeout=3600
